<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <!-- paramsハッシュのplanというkeyに対して、valueが2の時とそれ以外で条件分岐するよう設定 -->
    <!-- paramsとはrails内で事前に作成されているハッシュ http://goo.gl/OQ1FHD  -->
    <% if params[:plan] == "2" %>
      <h1>Pro Account</h1>
      <p>Sign up for the pro account for $10/month<br>and get access to the community and contact information!</p>
    <% else %>
      <h1>Basic Account</h1>
      <p>Sign up for free and get basic access to the community.</p>
    <% end %>
  </div>
  
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
  
      <h2>Sign up</h2>
      
      <% if params[:plan] == "2" %>
      
        <!-- partialファイル _pro_form.html.erbを呼び出している -->
        <%= render "pro_form" %>
      
      <% else %>
      
        <!-- partialファイル _basic_form.html.erbを呼び出している -->
        <%= render "basic_form" %>
      
      <% end %>
  
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>